//===URL===//
@import url('//db.onlinewebfonts.com/c/4e447705f6a3ad4e6e6ec31c7c8a14aa?family=Revamped');
//===Animation===//

//===Files===//
@import "./components/shared/Dock/dock.scss";
@import "./components/shared/Dock/flags.scss";

//===Tailwind CSS===//
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

body {
  height: 100vh;
  font-family: var(--font-family);
  font-weight: normal;
  background: black;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel-section{
  background-image: url('../../public/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}


.sc img {
  margin: auto !important;
  height: 100px !important;
  width: 100px !important;
}

.slick-slide > div {
  display: grid !important;
  place-items: center !important;
  max-width: 100% !important;
  margin: auto !important;
  padding: 0px !important;
}
